<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OW Stats</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/15ccea1a60.js" crossorigin="anonymous"></script>
  </head>
    <body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <span style="color: Dodgerblue"><i class="fas fa-chart-line fa-2x"></i></span>
    <span style="vertical-align: super;">OW Stats</span>
  </a>    
  <div class="collapse navbar-collapse" id="navContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FakeLink</a>
      </li>      
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Other Sites
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" target="_blank" href="https://www.overbuff.com/players/pc/Riivr-1747">OverBuff</a>
          <a class="dropdown-item" target="_blank" href="https://overwatchtracker.com/profile/pc/global/Riivr-1747">OW Tracker</a>
          <a class="dropdown-item" target="_blank" href="https://playoverwatch.com/en-us/career/pc/Riivr-1747/">Blizzard</a>
          <a class="dropdown-item" target="_blank" href="https://overwatch.op.gg/detail/overview/53238147081226063131185">OP.GG</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>     
    </ul>    
  </div>
</nav>


        <div class="container">
            <div class="container-fluid">
                <div class="card mt-2">
                    <div class="card-body">                    
                        <table id="gamesTable" class="table table-striped">                    
                            <thead class="thead-dark">
                                <tr>
                                    <th class="hidden">GameID</th>
                                    <th>Date</th>
                                    <th>Result</th>
                                    <th>Role</th>
                                    <th>Map</th>
                                    <th>Type</th>
                                    <th>SR Diff</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < data.length; i++) { %>                                    
                                    <tr>                                        
                                        <td class="hidden"><%= data[i].GameID %></td>
                                        <td><%= data[i].Date.toDateString() %></td>
                                        <td><%= data[i].Result %></td>
                                        <td><%= data[i].Role %></td>
                                        <td><%= data[i].name %></td>
                                        <td><%= data[i].type %></td>
                                        <td><%= data[i].SRDiff %></td>

                                    </tr>    
                                <% } %>                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/popper.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/datatables.min.js" type="text/javascript"></script>
        <script src="js/tables.js" type="text/javascript"></script>
    </body>
</html>
